<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.businessmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">




        <activity android:name=".SplachActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.MVP.LogInActivity"
            android:label="Log In"/>
        <activity android:name=".HomeActivity.MVP.HoomeActivity"
            android:label="Contacts"/>
        <activity android:name=".ClientRegistration.MVP.ClientRegActivity"
            android:label="Registration"/>
        <activity android:name=".ClientDashboard.MVP.ClientDashActivity"
            android:label="DashBoard"/>
        <activity android:name=".ProductList.MVP.ProductListActivity"
            android:label="Products"/>
        <activity android:name=".Cart.MVP.CartActivity"
            android:label="Cart"/>
        <activity android:name=".CheckOut.MVP.CheckOutActivity"
            android:label="CheckOut"/>
        <activity android:name=".History.MVP.HistoryActivity"
            android:label="Client History"/>
        <activity android:name=".ClientDetails.MVP.ClientDetailActivity"
            android:label="Client Details"/>
    </application>

</manifest>